body {
  background-image: url(./assets/background.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.track-title {
  font-family: "Playfair Display", serif;
  width: 100vw;
  color: white;
  font-size: 5.25rem;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 3rem;
  }
}

.visualizer-container {
  width: 100vw;
  position: absolute;
  text-align: center;
  bottom: 350px;
}

.visualizer-container__bar {
  display: inline-block;
  background-color: white;
  margin: 0 2px;
  width: 2px;
  transform-origin: center;
  transform: translateY(50%);
}
